services:
  # -------------------
  # BASES DE DATOS
  # -------------------

  users-db:
    image: postgres
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - users_data:/var/lib/postgresql/data
    networks:
      - ecommerce_net

  products-db:
    image: postgres
    environment:
      POSTGRES_DB: products_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - products_data:/var/lib/postgresql/data
    networks:
      - ecommerce_net

  orders-db:
    image: postgres
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - orders_data:/var/lib/postgresql/data
    networks:
      - ecommerce_net

  # -------------------
  # MICROSERVICIOS DJANGO
  # -------------------

  users-service:
    build: ./backend/users
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/users:/usr/src/app
    ports:
      - "7000:8000"
    env_file:
      - ./backend/users/.env
    depends_on:
      - users-db
    networks:
      - ecommerce_net

  products-service:
    build: ./backend/products
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/products:/usr/src/app
    ports:
      - "7100:8000"
    env_file:
      - ./backend/products/.env
    depends_on:
      - products-db
    networks:
      - ecommerce_net

  orders-service:
    build: ./backend/orders
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/orders:/usr/src/app
    ports:
      - "7200:8000"
    env_file:
      - ./backend/orders/.env
    depends_on:
      - orders-db
    networks:
      - ecommerce_net

# -------------------
# VOLUMENES Y REDES
# -------------------
volumes:
  users_data:
  products_data:
  orders_data:

networks:
  ecommerce_net:
    driver: bridge
